.*
!.gitignore
*.o
*.ko
*.so
*~
*.lo
*.la
*.lai
*.a
*.pyc
*.out
*.udb

src/lib/.libs/*

backup/
nDPI/Makefile
nDPI/Makefile.in
nDPI/aclocal.m4
nDPI/autom4te.cache/
nDPI/config.h
nDPI/config.h.in
nDPI/config.log
nDPI/config.status
nDPI/configure
nDPI/libtool
#nDPI/src/include/Makefile
nDPI/src/include/Makefile.in
#nDPI/src/lib/Makefile
nDPI/src/lib/Makefile.in
nDPI/example/pcapReader

kernel/Module.symvers
kernel/modules.order
kernel/xt_ndpi.ko.unsigned
kernel/xt_ndpi.mod.c

tests/
